# ============================================
# GrowCap Environment Variables
# ============================================

# Server
PORT=5000
NODE_ENV=development

# JWT Secret (change this to a random string)
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# MySQL Database
DB_HOST=localhost
DB_PORT=-------
DB_USER=root
DB_PASSWORD=xxxxx
DB_NAME=*********

# Groq AI API
GROQ_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxx

# Alpha Vantage API
ALPHA_VANTAGE_API_KEY=xxxxxxxxxxxxxxxxx

# Tavily Search API
TAVILY_API_KEY=xxxxxxxxxxxxxxxxxxxxxx

# Cloudinary Storage for Global RAG Files
CLOUDINARY_CLOUD_NAME=xxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxxxx
